<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="home_contents">
	<div class="page-header">
		<h1>Home</h1>
		<p>ユーザID: <span sec:authentication="name"></span></p>
		<p>principal.userid: <span sec:authentication="principal.userId"></span></p>
		<p>principal.username: <span sec:authentication="principal.username"></span></p>
		<p>ユーザー名: <span sec:authentication="principal.appUserName"></span></p>
		<p>メール: <span sec:authentication="principal.mailAddress"></span></p>
		<p>ロール: <span sec:authentication="principal.authorities"></span></p>
	</div>
</div>
</body>
</html>